/* 面板样式 */

.mwt-wall {
    position: relative;
    padding: 8px 15px;
    border: 1px solid #ccc;
    border-radius: 0;
    background: #eee;
    color: #555;
    font-size: 12px;    
}

.mwt-wall-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.mwt-wall-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.mwt-wall-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.mwt-wall-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}


