/* grid样式 */
.mwt-table{width:100%;border-spacing:0;}


.mwt-table tr {border-top:solid 1px #ddd;border-bottom:solid 1px #ddd;}

.mwt-table th,.mwt-table td {
    padding:4px 8px;font-size:12px;font-weight:normal;color:#000;
    word-wrap:break-word; word-break:break-all;text-align:left;
}
.mwt-table th {background-color:#eee;}


.mwt-table-bordered {}
.mwt-table-bordered th,.mwt-table-bordered td{border:solid 1px #ddd;}

.mwt-grid {border:none;}
.mwt-grid table {width:100%;border-spacing:0;}
.mwt-grid th,.mwt-grid td {
	padding:7px;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	font-smoothing:antialiased;  
	font-size: 12px;
	font-weight: normal;
}
.mwt-grid-head td,.mwt-grid-head th,
.mwt-grid-body td,.mwt-grid-body th {
	word-wrap: break-word;
	word-break: break-all;
}
.mwt-grid thead th {background-color:#eee;color:#777;text-align:left;}
.mwt-grid-tbar {margin-bottom:-1px;}
.mwt-grid-head {border:solid 1px #ddd;margin-bottom:-1px;}
.mwt-grid-body {border-left:solid 1px #ddd;border-right:solid 1px #ddd;}
.mwt-grid-body tr {border-top:solid 1px #ddd;border-bottom:solid 1px #ddd;}
.mwt-grid-foot {background:#f9f9f9;padding:7px;border:solid 1px #ddd;margin-top:-1px;}
.mwt-grid-foot tr {height:auto !important;}
.mwt-grid-foot td {padding:0;}

.mwt-grid-fixed {position:absolute;top:0;bottom:0;left:0;right:0;}
.mwt-grid-fixed .mwt-grid-head {overflow-y:scroll;}
.mwt-grid-fixed .mwt-grid-body {position:absolute;left:0;right:0;top:35px;bottom:30px;overflow-y:scroll;}
.mwt-grid-fixed .mwt-grid-foot {position:absolute;left:0;right:0;bottom:0;}

.mwt-grid-body.bordered td {border-left:solid 1px #ddd;border-right:solid 1px #ddd;}
.mwt-grid-body td:first-child {border-left:none;}
.mwt-grid-body td:last-child {border-right:none;}

.mwt-grid-body .empty {border:none;}
.mwt-grid-body .empty td {border:none;color:#999;line-height:50px;text-align:center;}


/* 奇偶行变色 */
.mwt-grid .striped tr:nth-child(2n+2) {background:#f2f2f2;}
.mwt-grid .bara {color:#777;text-decoration:none;border:solid 1px #f9f9f9;padding:1px 3px;border-radius:2px;}
.mwt-grid .bara:hover {border:solid 1px #ccc;}
.mwt-grid .bara.active {color:#222;}
.mwt-grid .bara i {font-size:14px;vertical-align:middle;width:12px;}
.mwt-grid .seg {border-left:solid 1px #ccc;border-right:solid 1px #fff;
	height: 20px;
    display: inline-block;
    vertical-align: middle;
	margin:0 10px;
}
.grid-sort{cursor:pointer;}
.grid-sort:after{font:normal normal normal 14px/1 FontAwesome;color:#bbb;margin-left:4px;content:'\f0dc'}
.grid-sort-asc:after{font:normal normal normal 14px/1 FontAwesome;color:#999;margin-left:4px;content:'\f0de'}
.grid-sort-desc:after{font:normal normal normal 14px/1 FontAwesome;color:#999;margin-left:4px;content:'\f0dd'}


.mwt-simple-pagebar {text-align: center;}
.mwt-simple-pagebar .mwt-btn {
    padding: 0;
    width: 20px;
    border-radius: 2px;
    vertical-align: baseline;
    line-height: 19px;
}

.mwt-block {white-space:nowrap;}




