/* 导航 */

.mwt-nav {margin:0;padding:0;list-style:none;}
.mwt-nav:before, .mwt-nav:after {
    content: " ";
    display: table;
    clear: both;
}
.mwt-nav>li>a {
    font-size:13px;
    padding: .6em 1em;
    text-decoration:none;
    color: #555;
    text-align: center;
    border-radius:4px;
}
.mwt-nav>li>a:hover {background-color: #eee;}
.mwt-nav>li, .mwt-nav>li>a {display: block;position:relative;}
.mwt-nav>li.mwt-active>a, .mwt-nav>li.mwt-active>a:focus, .mwt-nav>li.mwt-active>a:hover {
    color: #fff;
    background-color: #0e90d2;
    cursor: default;
}

.mwt-nav-tabs {
    width: 100%;
    border-bottom: 1px solid #ddd;
}
.mwt-nav-tabs>li {
    list-style: none;
    float: left;
    margin-bottom: -1px;
    margin-right: 5px;
}
.mwt-nav-tabs>li>a {border-radius:0;}
.mwt-nav-tabs>li.mwt-active>a, .mwt-nav-tabs>li.mwt-active>a:focus, .mwt-nav-tabs>li.mwt-active>a:hover {
    color: #09C;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}

.mwt-nav-pills {
    width: 100%;
}
.mwt-nav-pills>li {
    list-style: none;
    float: left;
    margin-right: 5px;
}
.mwt-nav-pills>li>a {
    border-radius: 4px;
}
.mwt-nav-pills>li.mwt-active>a, .mwt-nav-pills>li.mwt-active>a:focus, .mwt-nav-pills>li.mwt-active>a:hover {
    color: #fff;
    background-color: #0e90d2;
    cursor: default;
}


.mwt-nav-justify {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.mwt-nav-justify>li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}


