/* grid样式 */
.mwt-grid-container {}

/* 顶部工具栏 */
.mwt-grid-tbar {margin-bottom:-1px;background:#f3f3f3;}
.mwt-grid-tbar .mwt-toolbar {background:none !important;}

/* 底部工具栏 */
.mwt-grid-footbar {background:none;min-height:31px;padding:4px 0;font-size:12px;}
.mwt-grid-footbar button {width:26px;height:26px;padding:0;line-height:26px;border-radius:2px;}
.mwt-grid-footbar button i {vertical-align:baseline;}

.mwt-grid-foot-toolbox {line-height:28px;}
.mwt-grid-foot-toolbox .seg {border-left:1px solid #ccc;border-right:1px solid #fff;height:16px;display:inline-block;vertical-align:middle;margin:0 8px;}
.mwt-grid-foot-toolbox a {color:#777;text-decoration:none;border:1px solid #f9f9f9;padding:1px 3px;border-radius:2px;}
.mwt-grid-foot-toolbox a:hover {border:1px solid #ccc;}
.mwt-grid-foot-toolbox a.active {color:#222}


/* 表区 */
.mwt-grid-table {overflow:auto;width:100%;border:solid 1px #ddd;border-radius:4px;}

.mwt-table{width:100%;border-spacing:0;border-collapse:separate;table-layout:fixed;}
.mwt-table th,.mwt-table td {padding:10px 10px;font-size:13px;font-weight:normal;word-break:break-all;}
.mwt-table-enlarge th,.mwt-table-enlarge td {padding:16px 10px;font-size:13px;}
.mwt-table.bordered th, .mwt-table.bordered td {border-right:solid 1px #ddd;}
.mwt-table th:last-child, .mwt-table td:last-child {border-right:none;}
.mwt-table th,.mwt-table td {background:#fff;border-bottom:solid 1px #ddd;}
.mwt-table tr:last-child td {border-bottom:none;}
.mwt-table .empty td {text-align:center;padding:30px;color:#999;}

/* 表头样式 */
.mwt-table-head th {background:#eee;}
.grid-sort{cursor:pointer;}
.grid-sort:after{font:normal normal normal 14px/1 FontAwesome;color:#bbb;margin-left:4px;content:'\f0dc'}
.grid-sort-asc:after{font:normal normal normal 14px/1 FontAwesome;color:#03a9f4;margin-left:4px;content:'\f0de'}
.grid-sort-desc:after{font:normal normal normal 14px/1 FontAwesome;color:#03a9f4;margin-left:4px;content:'\f0dd'}

/* 奇偶行变色 */
.mwt-table.striped tr:nth-child(2n+2) td {background:#f1f2f3;}

/* 固定布局 */
.mwt-fix-col-left {position:sticky;z-index:1;box-shadow:1px 0px 1px -1px #bbb;left:0;}
.mwt-fix-col-right {position:sticky;z-index:1;box-shadow:-1px 0px 1px -1px #ddd;right:0;}
.mwt-fix-row-top {position:sticky;z-index:2;top:0;}
.mwt-fix-col-left.mwt-fix-row-top {z-index:3;}

.mwt-grid-checkbox {}

.mwt-block {white-space:nowrap;}

