/* grid样式 */
.mwt-table{min-width:100%;border-spacing:0;border-collapse:collapse;}
.mwt-table th,.mwt-table td {padding:8px 5px;font-size:13px;}

/* 表头样式 */
.mwt-table thead {background:#eee;}
.mwt-table thead td,.mwt-table th {font-size:12px;font-weight:normal;padding:8px 5px;}



.mwt-table tr{border-top:solid 1px #ddd;border-bottom:solid 1px #ddd;}


/* 奇偶行变色 */
.mwt-table.striped tr:nth-child(2n+2) {background:#f1f2f3;}
/* 边框 */
.mwt-table.bordered th, .mwt-table.bordered td {border:solid 1px #ddd;}


/* 固定表头 */
.mwt-table-fixed {}
.mwt-table-fixed tbody {position:absolute;top:33px;bottom:0;left:0;right:0;overflow:auto;}


