
.mwt-formtab {width:100%;padding:0;margin:0;}
.mwt-formtab tr {height:40px;}
.mwt-formtab .partition {background:#f2f2f2;border:none;color:#555;font-size:12px;}
.mwt-formtab td,.mwt-formtab th {font-size:13px;text-align:left;padding:0 10px;}
/*.mwt-formtab tr:first-child td,.mwt-formtab tr:first-child th {border-top:none;}*/
.mwt-formtab .tips {color: #999; word-break: break-all;}

.mwt-formtab label {display:block;white-space:nowrap;font-size:13px;color:#666;}
.mwt-formtab .nc:after {content:' *';color:red;}
