
.mwt-formtab {width:100%;padding:0;margin:0;}
.mwt-formtab tr {height:35px;}
.mwt-formtab .partition {background:#f2f2f2;border:none;font-weight:bold;color:#555;}
.mwt-formtab td,.mwt-formtab th {font-size:13px;border-top:1px dotted #eee;text-align:left;padding:0 10px;}
.mwt-formtab tr:first-child td,.mwt-formtab tr:first-child th {border-top:none;}
.mwt-formtab .tips {color: #999; word-break: break-all;}
