/* tips弹出层 */
.mwt-popover {
    display: none;
    z-index: 999;

    position:absolute; 
	max-width: 276px;
    padding: 1px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 4px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    line-break: auto;
	background-color: #333;
    color: #fff;
}

.mwt-popover>.content {
    padding:6px 10px;
	text-decoration: none;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    font-size: 12px;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	font-smoothing:antialiased;
}

.mwt-popover>.arrow,
.mwt-popover>.arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
	
}
.mwt-popover>.arrow {
    border-width: 11px;
}
.mwt-popover>.arrow:after {
    content: '';
    border-width: 10px;
}


.mwt-popover.top>.arrow {
    bottom: -11px;
    border-top-color: rgba(0,0,0,.25);
    border-bottom-width: 0;
    left: 50%;
    margin-left: -11px;
}

.mwt-popover.top>.arrow:after {
    bottom: 1px;
    border-top-color: #333;
    border-bottom-width: 0;
    margin-left: -10px;
}


/* 主题 */
.mwt-popover-primary { border-color: #428bca; background: #428bca; color: #fff; }
.mwt-popover-primary.top>.arrow { border-top-color: rgba(0,0,0,.25); }
.mwt-popover-primary.top>.arrow:after { border-top-color: #428bca; }

.mwt-popover-secondary { border-color: #3bb4f2; background: #3bb4f2; color: #fff; }
.mwt-popover-secondary.top>.arrow { border-top-color: rgba(0,0,0,.25); }
.mwt-popover-secondary.top>.arrow:after { border-top-color: #3bb4f2; }

.mwt-popover-success { border-color: #5cb85c; background: #5cb85c; color: #fff; }
.mwt-popover-success.top>.arrow { border-top-color: rgba(0,0,0,.25); }
.mwt-popover-success.top>.arrow:after { border-top-color: #5cb85c; }

.mwt-popover-warning { border-color: #f0ad4e; background: #f0ad4e; color: #fff; }
.mwt-popover-warning.top>.arrow { border-top-color: rgba(0,0,0,.25); }
.mwt-popover-warning.top>.arrow:after { border-top-color: #f0ad4e; }

.mwt-popover-danger { border-color: #d9534f; background: #d9534f; color: #fff; }
.mwt-popover-danger.top>.arrow { border-top-color: rgba(0,0,0,.25); }
.mwt-popover-danger.top>.arrow:after { border-top-color: #d9534f; }




