/* ui.datepicker.css */

.ui-widget-content {
    border: 1px solid #aaa;
    background: #fff;
    color: #222;
    border-radius: 4px;
}
.ui-widget-header {
    border: 1px solid #aaa; background:#ddd; font-weight: 700;
    border-radius: 4px;
    font-size:14px;
}
.ui-widget-content a, .ui-widget-header, .ui-widget-header a {
    color: #222;
}
.ui-widget-header a i {font-size:15px;}


.ui-datepicker {width:220px;padding:3px;display:none;}

.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .2em 0;
}


.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 3px;
    width: 25px;
    height: 25px;
    padding: 4px 5px;
    border:solid 1px #ddd;
    border-radius:2px;
}

.ui-datepicker .ui-datepicker-prev {
    left: 5px;
}
.ui-datepicker .ui-datepicker-next {
    right: 5px;
}

.ui-datepicker-prev:hover,.ui-datepicker-next:hover {
    border:solid 1px #aaa;
}

.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
    font-weight: normal;
}
.ui-datepicker .ui-datepicker-title select {
    font-size: 1em;
    margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    width:62px;
}
.ui-datepicker table {
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 .4em;
}
.ui-datepicker th {
    padding: .7em .3em;
    text-align: center;
    font-weight: normal;
    border: 0;
    font-size:13px;
}
.ui-datepicker td {
    border: 0;
    padding: 1px;
    font-size:13px;
}
.ui-datepicker td span,
.ui-datepicker td a {
    display: block;
    padding: .2em;
    text-align: right;
    text-decoration: none;
}
.ui-datepicker td a:hover {
    background: #fff;
}
.ui-datepicker .ui-datepicker-buttonpane {
    background-image: none;
    margin: .7em 0 0 0;
    padding: 0 .2em;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
    float: right;
    margin: .5em .2em .4em;
    cursor: pointer;
    padding: .2em .6em .3em .6em;
    width: auto;
    overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: left;
}

.ui-state-default {
    border: 1px solid #d3d3d3;
    background: #e6e6e6;
    font-weight: normal;
    color: #555555;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    border: 1px solid #fcefa1;
    background: #fbf9ee;
    color: #363636;
}
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
    color: #363636;
}


.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    border: 1px solid #FF5722;
    background: #ffffff;
    font-weight: normal;
    color: #212121;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
    color: #212121;
    text-decoration: none;
}
