
.mwt-popover {
    position:absolute;
    display: none;
    max-width: 276px;
    padding: 1px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 4px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    line-break: auto;
	background-color: #fff;
    color: #333;
    z-index: 999;
}

.mwt-popover>.content {
    padding:6px 10px;
	text-decoration: none;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    font-size: 13px;
}

.mwt-popover>.arrow,
.mwt-popover>.arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.mwt-popover>.arrow {
    border-width: 11px;
}
.mwt-popover>.arrow:after {
    content: '';
    border-width: 10px;
}


.mwt-popover.top>.arrow {
    bottom: -11px;
    border-top-color: rgba(0,0,0,.25);
    border-bottom-width: 0;
    left: 50%;
    margin-left: -11px;
}

.mwt-popover.top>.arrow:after {
    bottom: 1px;
    border-top-color: #fff;
    border-bottom-width: 0;
    margin-left: -10px;
}


/* danger */
.mwt-popover-danger {
    border-color: #d9534f;
    background: #d9534f;
    color: #fff;
}
.mwt-popover-danger.top>.arrow {
    border-top-color: rgba(255,0,0,.25);
}
.mwt-popover-danger.top>.arrow:after {
    border-top-color: #d9534f;
}
