/*!
 * mwtcss v1.0.0
 * Copywrite 2014 mawentao
 */

/* -- global css -- */
body {padding:0;margin:0;}
select,button,input[type=radio],input[type=checkbox] {cursor:pointer}

table.tablay {width:100%;height:100%;border-collapse:collapse;cellspacing:0px;cellpadding:0px;padding:0;margin:0;}
table.tabform {
    width:100%;
    padding:0;margin:0;
}
.tabform tr {height:35px;}
.tabform th {font-size:13px;font-family:"microsoft yahei";font-weight:normal;padding-left:5px;}
.tabform .tip {color:red;font-size:13px;font-family:"microsoft yahei";padding-left:5px;}
.tabform label {font-size:13px;font-family:"microsoft yahei";}

/* --------------------------- Form Css --------------------------------- */
.form-control {
	display: inline-block;
	width: 100%;
	height: 26px;
	padding:0;
	font-size: 13px;
    font-family:"microsoft yahei";
	line-height: 26px;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
}
select.form-control {padding:2px 5px;}

.form-datepicker{
    cursor:pointer;width:100px;border-radius:2px;padding:2px 5px;
    background: #fff url(imgs/icons/datePicker.gif) no-repeat right;
}

label.pointer {cursor:pointer}
.form-label {font-size:12px;font-family:"microsoft yahei";}
.form-label:after {content:":"}

table.form {width:100%;height:100%;border-collapse:collapse;cellspacing:0px;cellpadding:0px;padding:0;margin:0;}
table.form .errmsg {color:red;}
/* --------------------------- Table Css --------------------------------- */
.mwt-table {
    width:100%; background-color:transparent;
    border-collapse:collapse; border-spacing:0;
    border: solid 1px #ddd;
}
.mwt-table td { border: solid 1px #ddd; padding:5px;10px; font-family:'microsoft yahei'; font-size:13px;}
.mwt-table thead tr td {background-color:#efefef; font-weight:bold; color:#333;}
.mwt-table tbody tr:hover {background-color:#f2f2f2; cursor:pointer;}

/* --------------------------- Button Css --------------------------------- */
.mwt-btn {
	display: inline-block;
	padding: 6px 12px;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
    outline:0;
    text-decoration:none;
    font-family:"microsoft yahei";
}
.mwt-btn.radius {border-radius:4px;}
.mwt-btn.round {border-radius:36px;}
.mwt-btn.leaf {border-top-left-radius:20px;border-bottom-right-radius:20px;}
.mwt-btn.ellipse {border-radius:50%;}

.mwt-btn:active, .mwt-btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
	box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}

.mwt-btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}
.mwt-btn-default:hover, .mwt-btn-default:focus, .mwt-btn-default:active, .mwt-btn-default.active, .open .dropdown-toggle.mwt-btn-default {
	color: #333;
	background-color: #efefef;
	border-color: #ccc;
}

.mwt-btn-primary {
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
}
.mwt-btn-primary:hover, .mwt-btn-primary:focus, .mwt-btn-primary:active, .mwt-btn-primary.active, .open .dropdown-toggle.mwt-btn-primary {
	color: #fff;
	background-color: #3276b1;
	border-color: #285e8e;
}
.mwt-btn-success {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}
.mwt-btn-success:hover, .mwt-btn-success:focus, .mwt-btn-success:active, .mwt-btn-success.active, .open .dropdown-toggle.mwt-btn-success {
	color: #fff;
	background-color: #47a447;
	border-color: #398439;
}
.mwt-btn-info {
	color: #fff;
	background-color: #5bc0de;
	border-color: #46b8da;
}
.mwt-btn-info:hover, .mwt-btn-info:focus, .mwt-btn-info:active, .mwt-btn-info.active, .open .dropdown-toggle.mwt-btn-info {
	color: #fff;
	background-color: #39b3d7;
	border-color: #269abc;
}
.mwt-btn-warning {
	color: #fff;
	background-color: #f0ad4e;
	border-color: #eea236;
}
.mwt-btn-warning:hover, .mwt-btn-warning:focus, .mwt-btn-warning:active, .mwt-btn-warning.active, .open .dropdown-toggle.mwt-btn-warning {
	color: #fff;
	background-color: #ed9c28;
	border-color: #d58512;
}

.mwt-btn-danger {
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
}
.mwt-btn-danger:hover, .mwt-btn-danger:focus, .mwt-btn-danger:active, .mwt-btn-danger.active, .open .dropdown-toggle.mwt-btn-danger {
	color: #fff;
	background-color: #d2322d;
	border-color: #ac2925;
}

/* mwt-btn尺寸 */
.mwt-btn-lg { padding: 10px 16px; font-size: 18px; line-height: 1.33;}
.mwt-btn-sm { padding: 5px 10px; font-size: 12px; line-height: 1.5;}
.mwt-btn-xs { padding: 1px 5px; font-size: 12px; line-height: 1.5;}


.mwt-btn.disabled, .mwt-btn[disabled], fieldset[disabled] .mwt-btn {
	pointer-events: none;
	cursor: not-allowed;
	opacity: .55;
	filter: alpha(opacity=55);
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* 按钮组 */
.mwt-btn-group, .mwt-btn-group-radius {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.mwt-btn-group>.mwt-btn, .mwt-btn-group-radius>.mwt-btn {
	position: relative;
	float: left;
    margin-left: -1px;
}
.mwt-btn-group>.mwt-btn:first-child, .mwt-btn-group-radius>.mwt-btn:first-child {
	margin-left: 0;
}

.mwt-btn-group>.mwt-btn:first-child:not(:last-child):not(.dropdown-toggle) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.mwt-btn-group>.mwt-btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
	border-radius: 0;
}
.mwt-btn-group>.mwt-btn:last-child:not(:first-child), .mwt-btn-group>.dropdown-toggle:not(:first-child) {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}


.mwt-btn-group-radius>.mwt-btn:first-child:not(:last-child):not(.dropdown-toggle) {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.mwt-btn-group-radius>.mwt-btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
	border-radius: 0;
}
.mwt-btn-group-radius>.mwt-btn:last-child:not(:first-child), .mwt-btn-group-radius>.dropdown-toggle:not(:first-child) {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}

/* --------------------------- End of Button Css --------------------------------- */

/* --------------------------- alert --------------------------- */
.mwt-alert {
	position: relative;
	padding:8px 15px; margin:2px;
	border: 1px solid transparent;
	border-radius: 0px;
}
.mwt-alert-danger  { color: #a94442; background-color: #f2dede; border-color: #ebccd1; }
.mwt-alert-info    { color: #31708f; background-color: #d9edf7; border-color: #bce8f1; }
.mwt-alert-success { color: #3c763d; background-color: #dff0d8; border-color: #d6e9c6; }
.mwt-alert-warning { color: #8a6d3b; background-color: #fcf8e3; border-color: #faebcc; }
.mwt-alert-default { color: #333;	background-color: #dedede;	border-color: #ccc; }

button.close {
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
	position:absolute; display:block; top:5px; right:5px;
	font-size:16px;
	color:#3a3a3a;
}
button.close:hover { font-size:18px;}

/* --------------------------- Dialog Class ---------------------------- */
.mwt-dialog {
    position:fixed;top:0;bottom:0;left:0;right:0;
    z-index:999;display:none;text-align:center;
}
.mwt-dialog .modaldiv {
    position:absolute;top:0;left:0;right:0;bottom:0;
    z-index:1;
    background-color:#222;
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
}
.mwt-dialog .dialog-body {
    display:inline-block;
    position:relative;
    background-color:#eee;
    border-radius:4px;
    z-index:2;
    -webkit-box-shadow:0px 0px 10px #aaa;
    -moz-box-shadow:0px 0px 10px #aaa;
    box-shadow:0px 0px 10px #aaa;
	padding:2px 0;
}
.mwt-dialog .dialog-body .btnclose {
    position:absolute;right:10px; top:4px;
}
a.btnclose {
    font-size:16px; color:#333; text-decoration:none; font-weight:bold;
}
a.btnclose:hover {
    color:#f00; text-decoration:none; font-weight:bold;
}
.mwt-dialog .dialog-body .header {
    font:bold 12px 'microsoft yahei';
	color:#000;
	text-align:left;
	padding:4px 0 0 5px;
    vertical-align:top;
}
.mwt-dialog .dialog-body .content {
	background-color:#fff;text-align:left;
/*
    border-top:solid 2px #999;
    border-left:solid 2px #999;
    border-bottom:solid 1px #fff;
    border-right:solid 1px #fff;
*/
    overflow:auto;
}
.mwt-dialog .dialog-body .content label {
	font-size:13px;
}

/* ---------------- Search ---------------- */
.mwt-search { width:600px; border:solid 2px #d22636; }
.mwt-search.round {border-radius:4px;}
.mwt-search .text {
	display:inline-block;
	padding:0; margin:0;
	background-color:#fff;
}
.mwt-search .text input {
	display:inline-block;
	margin:0;
	padding:0 10px;
	outline: 0;
	border:0;
	width:500px;
	height:30px; line-height:30px;
	font-size:15px;
    font-family:"microsoft yahei";
}
.mwt-search .submit {
	display:inline-block;
	padding:0; margin:0;
	float:right;
	width:50px;
	background-color:#d22636;
	height:30px; line-height:30px;
	text-align:center;
	cursor:pointer;
	border:0;
	border-left:solid 2px #d22636;
	font-family:'microsoft yahei';
	color:#fff;
	font-size: 15px;
}
.mwt-search .submit:hover {	background-image: none;	background-color: #d22600; }
.mwt-search .submit:active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
	box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}

.mwt-search-primary {border:solid 2px #428bca;}
.mwt-search-primary .submit { background-color:#428bca; border-left:solid 2px #428bca;}
.mwt-search-primary .submit:hover {background-color: #357ebd;}

.mwt-search-success {border:solid 2px #47a447;}
.mwt-search-success .submit { background-color:#47a447; border-left:solid 2px #47a447;}
.mwt-search-success .submit:hover {background-color: #398439;}

.mwt-search-warning {border:solid 2px #d58512;}
.mwt-search-warning .submit { background-color:#d58512; border-left:solid 2px #d58512;}
.mwt-search-warning .submit:hover {background-color: #ed9c28;}

.mwt-search-black {border:solid 2px #333;}
.mwt-search-black .submit { background-color:#333; border-left:solid 2px #333;}
.mwt-search-black .submit:hover {background-color: #4f4f4f;}

/* ---------------- Menu ---------------- */
.mwt-menu {
	width: 100%;
	background-color:#3300CC;
	height:40px;
}

.mwt-menu ul {
	display:block;
}
.mwt-menu ul li {
	display:inline-block; list-style:none;
}
.mwt-menu ui li a {
	display:block;
	width:100px; height:40px; line-height:40px; padding:20px;
}

/* --------------------------- Table Css --------------------------------- */
.mwt-table {
    max-width:100%; background-color:transparent;
    border-collapse:collapse; border-spacing:0;
    border: solid 1px #ddd;
}
.mwt-table td { border: solid 1px #ddd; padding:5px;10px; font-family:'microsoft yahei'; font-size:13px;}
.mwt-table thead tr td {
    background-color:#eee;font-weight:bold; color:#333;
    background-image: -moz-linear-gradient(top,#fdfdfd,#ddd);
    background-image: -ms-linear-gradient(top,#fdfdfd,#ddd);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fdfdfd),to(#ddd));
	background-image: -webkit-linear-gradient(top,#fdfdfd,#ddd);
	background-image: -o-linear-gradient(top,#fdfdfd,#ddd);
	background-image: linear-gradient(top bottom,#fdfdfd,#ddd);
	background-repeat: repeat-x;
}
.mwt-table tbody tr:hover {background-color:#f2f2f2; cursor:pointer;}

/* ---------------- Panel ------------------ */
.mwt-panel { width:100%; border:solid 1px #ccc; }
.mwt-panel > .header {
	height:30px; line-height:30px; border-bottom:solid 1px #ccc; background-color:#efefef; text-align:left;
	padding: 0 10px;
}
.mwt-panel > .body {padding:10px; text-align:left;}

.mwt-panel-primary {border-color:#428bca;}
.mwt-panel-primary > .header {border-color:#428bca; background-color: #428bca; color:#FFFFFF}

.mwt-panel-success {border-color:#d6e9c6;}
.mwt-panel-success > .header {border-color:#d6e9c6; background-color: #dff0d8; color:#3c763d}

.mwt-panel-info {border-color:#bce8f1;}
.mwt-panel-info > .header {border-color:#bce8f1; background-color: #d9edf7; color:#31708f}

.mwt-panel-warning {border-color:#faebcc;}
.mwt-panel-warning > .header {border-color:#faebcc; background-color: #fcf8e3; color:#8a6d3b}

.mwt-panel-danger {border-color:#ebccd1;}
.mwt-panel-danger > .header {border-color:#ebccd1; background-color: #f2dede; color:#a94442}

.mwt-panel-black {border-color:#333;}
.mwt-panel-black > .header {border-color:#333; background-color: #616161; color:#fff}

/* ---------------- tree ------------------ */
.mwt-tree {margin:0;padding:0;}
.mwt-tree li{list-style-type:none;margin:0;padding:0;line-height:20px;}

.mwt-tree a.tree-node{cursor:pointer;font-size:13px;color:black;text-decoration:none;}
.mwt-tree a.tree-node:hover,.mwt-tree a.active{color:red;}
/*
.mwt-tree li.folder{background-image:url(imgs/tree/folder.gif) ;}
.mwt-tree li.leaf{background-image:url(imgs/tree/leaf.gif);}
.mwt-tree li.folder-open{background-image:url(imgs/tree/folder-open.gif);}
*/

i.icon{background-repeat:no-repeat;padding-left:18px;}
i.folder{background-image:url(imgs/tree/folder.gif);cursor:pointer;}
i.folder-open{background-image:url(imgs/tree/folder-open.gif);cursor:pointer;}
i.leaf{background-image:url(imgs/tree/leaf.gif);background-position: 0;}

/* ---------------- grid ------------------- */
.mwt-grid{border:solid 1px #ccc;}
.mwt-grid .tab {
    width:100%; background-color:transparent;
    border-collapse:collapse; border-spacing:0;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}
.mwt-grid .tab td {padding:7px;10px; font-family:'microsoft yahei'; font-size:13px;}
.mwt-grid .bordered td {border-left:solid 1px #ddd;border-right:solid 1px #ddd;}
.mwt-grid .tab td:first-child {border-left:none;}
.mwt-grid .tab td:last-child {border-right:none;}
.mwt-grid .tab tr {border-top:solid 1px #ddd;border-bottom:solid 1px #ddd;}
.mwt-grid .tab tr:last-child {border-bottom:solid 0px #ddd;}
.mwt-grid .tab thead tr{border-top:solid 1px #ccc;border-bottom:solid 1px #ccc;}
.mwt-grid .tab thead tr td {
  background-color:#efefef; font-weight:bold; color:#333;
  background-image: -moz-linear-gradient(top,#f5f5f5,#ddd);
  background-image: -ms-linear-gradient(top,#f5f5f5,#ddd);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#f5f5f5),to(#ddd));
  background-image: -webkit-linear-gradient(top,#f5f5f5,#ddd);
  background-image: -o-linear-gradient(top,#f5f5f5,#ddd);
  background-image: linear-gradient(top bottom,#f5f5f5,#ddd);
  background-repeat: repeat-x;
  padding:7px;
}
.mwt-grid .tab tbody tr:hover {background-color:#f2f2f2; cursor:pointer;}
.mwt-grid .tab tbody {min-height:50px;}
.mwt-grid .nobbar {border-bottom:solid 0px #ccc;}

.grid-sort{cursor:pointer;}
.grid-sort:after{content:' -'}
.grid-sort-asc:after{content:' ↑'}
.grid-sort-desc:after{content:' ↓'}

/* ---------------- bar -------------------- */
.mwt-bar {background:#efefef;padding:2px 0;}
.mwt-bar table {width:100%;border-collapse:collapse;cellspacing:0px;cellpadding:0px;padding:0;margin:0;}
.mwt-bar hr {margin:0;padding:0;border-bottom:solid 1px #fff;border-top:solid 1px #ccc;border-left-width:0;border-right-width:0;}
.mwt-bar td {padding:6px 0 6px 8px;}
.mwt-bar td:last-child{padding:6px 8px;}
.mwt-bar label {font-size:13px;font-family:"microsoft yahei";display:block;text-align:right;min-width:30px;}
.mwt-bar button {
    display: inline-block;
    font-weight: normal;
    font-family: "microsoft yahei";
    font-size: 14px;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	/*border: 1px solid transparent;*/
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
    outline:0;
    text-decoration:none;
    padding:2px 10px;
    border-radius:2px;
}
.mwt-bar button:active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
	box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}
.mwt-bar .mwt-search {border-width:1px;height:26px;border-radius:2px;}
.mwt-bar .mwt-search input[type='text'] {height:26px;line-height:26px;}
.mwt-bar .mwt-search button {border-radius:0;height:26px;line-height:26px;}

/* --------------------- toolbar --------------------- */
.mwt-toolbar {background:#efefef;padding:2px;}
.mwt-toolbar .row {width:100%;padding:0;margin:0;}
.mwt-toolbar hr {margin:0;padding:0;border-bottom:solid 1px #fff;border-top:solid 1px #ccc;border-left-width:0;border-right-width:0;}
.mwt-toolbar ul {display:inline-block;margin:0;padding:0;}
.mwt-toolbar ul li {list-style-type:none;margin:0;padding:0;float:left;}
.mwt-toolbar ul li.sep {border-left:solid 1px #aaa;border-right:solid 1px #fff;}
.mwt-toolbar ul li.sep:after{content:'\10'}
.mwt-toolbar ul.right{float:right;}

/* -------------- loading ----------------- */
#mwt-flash-msg-div {
  z-index: 10000;
  display: none;
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  margin: 0px;
  font-size: 12px;
  text-align: center;
}
#mwt-flash-msg-div>div {
  display:inline-block;
  line-height:40px;
  border-radius:4px;
  font-family:"microsoft yahei";
  min-width: 300px;
}
#mwt-flash-msg-div>.loading {
  background: url("imgs/extloading.gif") no-repeat 20px 6px;
  padding: 0 20px 0 60px;
  border:solid 2px #BCD2EF;
}
#mwt-flash-msg-div>.danger {
  color: #a94442;
  background-color: #f2dede;
  border:solid 2px #ebccd1;
  padding:0 25px;
  font-size: 13px;
}
#mwt-flash-msg-div>.warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border:solid 2px #faebcc;
  padding:0 25px;
  font-size: 13px;
}
#mwt-flash-msg-div>.info {
  color: #31708f;
  background-color: #d9edf7;
  border:solid 2px #bce8f1;
  padding:0 25px;
  font-size: 13px;
}
#mwt-flash-msg-div>.success {
  color: #3c763d;
  background-color: #dff0d8;
  border:solid 2px #d6e9c6;
  padding:0 25px;
  font-size: 13px;
}

/* -------------- nav --------------- */
.mwt-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}
.mwt-nav:before, .mwt-nav:after {
    content: " ";
    display: table;
    clear: both;
}
.mwt-nav>li>a {
    font-size:14px;
    font-family: "microsoft yahei";
    padding: .6em 1em;
    text-decoration:none;
    color: #09C;
    text-align: center;
    border-radius:4px;
}
.mwt-nav>li>a:hover {
    background-color: #eee;
}
.mwt-nav>li, .mwt-nav>li>a {
    display: block;
    position: relative;
}
.mwt-nav>li.mwt-active>a, .mwt-nav>li.mwt-active>a:focus, .mwt-nav>li.mwt-active>a:hover {
    color: #fff;
    background-color: #0e90d2;
    cursor: default;
}


.mwt-nav-tabs {
    width: 100%;
    border-bottom: 1px solid #ddd;
}
.mwt-nav-tabs>li {
    list-style: none;
    float: left;
    margin-bottom: -1px;
    margin-right: 5px;
}
.mwt-nav-tabs>li>a {
    border-radius:0;
}
.mwt-nav-tabs>li.mwt-active>a, .mwt-nav-tabs>li.mwt-active>a:focus, .mwt-nav-tabs>li.mwt-active>a:hover {
    color: #555;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}

.mwt-nav-pills {
    width: 100%;
}
.mwt-nav-pills>li {
    list-style: none;
    float: left;
    margin-right: 5px;
}
.mwt-nav-pills>li>a {
    border-radius: 4px;
}
.mwt-nav-pills>li.mwt-active>a, .mwt-nav-pills>li.mwt-active>a:focus, .mwt-nav-pills>li.mwt-active>a:hover {
    color: #fff;
    background-color: #0e90d2;
    cursor: default;
}


.mwt-nav-justify {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;    
}
.mwt-nav-justify>li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
