/**
 * 全局样式
 **/
* {
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -icab-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    font-family:Arial,Tahoma,Verdana,'microsoft yahei';
}
body {padding:0;margin:0;}
a,button,select,input[type=radio],input[type=checkbox] {cursor:pointer}
table{empty-cells:show;border-collapse:collapse;}

