/*!
 * mwtcss v1.0.0
 * Copywrite 2014 mawentao
 */

/* -- global css -- */
body {padding:0;margin:0;}
body,td,th,span,b,p,label,div,a,input,button,select,option {font-family: Arial,Tahoma,Verdana,'microsoft yahei';}
select,button,input[type=radio],input[type=checkbox] {cursor:pointer}

/* --------------------------- copy_from_discuz -------------------------- */
table{empty-cells:show;border-collapse:collapse;}
/* 左右浮动 */
.z{float:left;}
.y{float:right;}
.cl{zoom:1;}
.cl:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
/* ----------------------------------------------------------------------- */

table.tablay {width:100%;height:100%;cellspacing:0px;cellpadding:0px;padding:0;margin:0;}

/* --------------------------- Form Css --------------------------------- */
.mwt-formtab {width:100%;padding:0;margin:0;}
.mwt-formtab tr {height:35px;}
.mwt-formtab .partition {background:#f2f2f2;border:none;font-weight:bold;color:#555;}
.mwt-formtab td,.mwt-formtab th {font-size:13px;border-top:1px dotted #eee;text-align:left;padding:0 10px;}
.mwt-formtab tr:first-child td,.mwt-formtab tr:first-child th {border-top:none;}
.mwt-formtab .tips {color: #999; word-break: break-all;}

.form-datepicker{
    cursor:pointer;width:100px;border-radius:2px;padding:2px 5px;
    background: #fff url(imgs/icons/datePicker.gif) no-repeat right;
}

.form-control {
	display: inline-block;
	width: 100%;
	height: 26px;
	padding:0;
	font-size: 13px;
	line-height: 26px;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;
}
.form-control:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
}
select.form-control {padding:2px 5px;}
input[type=text].form-control {padding-left:5px;}


/* --------------------------- Table Css --------------------------------- */
.mwt-table {
    width:100%; background-color:transparent;
    border-spacing:0;
    border: solid 1px #ddd;
}
.mwt-table td { border: solid 1px #ddd; padding:5px;10px; font-size:13px;}
.mwt-table thead tr td {background-color:#efefef; font-weight:bold; color:#333;}
.mwt-table tbody tr:hover {background-color:#f2f2f2; cursor:pointer;}

/* --------------------------- alert --------------------------- */
.mwt-alert {
	position: relative;
	padding:8px 15px; margin:2px;
	border: 1px solid transparent;
	border-radius: 0px;
}
.mwt-alert-danger  { color: #a94442; background-color: #f2dede; border-color: #ebccd1; }
.mwt-alert-info    { color: #31708f; background-color: #d9edf7; border-color: #bce8f1; }
.mwt-alert-success { color: #3c763d; background-color: #dff0d8; border-color: #d6e9c6; }
.mwt-alert-warning { color: #8a6d3b; background-color: #fcf8e3; border-color: #faebcc; }
.mwt-alert-default { color: #333;	background-color: #dedede;	border-color: #ccc; }

button.close {
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
	position:absolute; display:block; top:5px; right:5px;
	font-size:16px;
	color:#3a3a3a;
}
button.close:hover { font-size:18px;}



/* ---------------- Search ---------------- */
.mwt-search { width:600px; border:solid 2px #d22636; }
.mwt-search.round {border-radius:4px;}
.mwt-search .text {
	display:inline-block;
	padding:0; margin:0;
	background-color:#fff;
}
.mwt-search .text input {
	display:inline-block;
	margin:0;
	padding:0 10px;
	outline: 0;
	border:0;
	width:500px;
	height:30px; line-height:30px;
	font-size:14px;
}
.mwt-search .submit {
	display:inline-block;
	padding:0; margin:0;
	float:right;
	width:50px;
	background-color:#d22636;
	height:30px; line-height:30px;
	text-align:center;
	cursor:pointer;
	border:0;
	border-left:solid 2px #d22636;
	color:#fff;
	font-size: 14px;
}
.mwt-search .submit:hover {	background-image: none;	background-color: #d22600; }
.mwt-search .submit:active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
	box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}

.mwt-search-primary {border:solid 2px #428bca;}
.mwt-search-primary .submit { background-color:#428bca; border-left:solid 2px #428bca;}
.mwt-search-primary .submit:hover {background-color: #357ebd;}

.mwt-search-success {border:solid 2px #47a447;}
.mwt-search-success .submit { background-color:#47a447; border-left:solid 2px #47a447;}
.mwt-search-success .submit:hover {background-color: #398439;}

.mwt-search-warning {border:solid 2px #d58512;}
.mwt-search-warning .submit { background-color:#d58512; border-left:solid 2px #d58512;}
.mwt-search-warning .submit:hover {background-color: #ed9c28;}

.mwt-search-black {border:solid 2px #333;}
.mwt-search-black .submit { background-color:#333; border-left:solid 2px #333;}
.mwt-search-black .submit:hover {background-color: #4f4f4f;}

.mwt-text-search {
    border:solid 1px #ccc;display:inline-block;padding:3px 8px;border-radius:2px;background:#fff;
    white-space: nowrap;
}
.mwt-text-search>input {border:none;outline:none;line-height:19px;}
.mwt-text-search>i {color:#999;font-size:14px;cursor:pointer;}
.mwt-text-search>input:focus+i, .mwt-text-search>i:hover {color:#666;}
.mwt-text-search.round {border-radius:36px;}

.mwt-text-search.primary {border-color:#357ebd;}
.mwt-text-search.secondary {border-color:#3bb4f2;}
.mwt-text-search.danger {border-color:#d43f3a;}
.mwt-text-search.warning {border-color:#eea236;}
.mwt-text-search.success {border-color:#4cae4c;}


/* ---------------- Menu ---------------- */
.mwt-menu {
	width: 100%;
	background-color:#3300CC;
	height:40px;
}

.mwt-menu ul {
	display:block;
}
.mwt-menu ul li {
	display:inline-block; list-style:none;
}
.mwt-menu ui li a {
	display:block;
	width:100px; height:40px; line-height:40px; padding:20px;
}

/* --------------------------- Table Css --------------------------------- */
.mwt-table {
    max-width:100%; background-color:transparent;
    border-spacing:0;
    border: solid 1px #ddd;
}
.mwt-table td { border: solid 1px #ddd; padding:5px;10px; font-size:13px;}
.mwt-table thead tr td {
    background-color:#eee;font-weight:bold; color:#333;
    background-image: -moz-linear-gradient(top,#fdfdfd,#ddd);
    background-image: -ms-linear-gradient(top,#fdfdfd,#ddd);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fdfdfd),to(#ddd));
	background-image: -webkit-linear-gradient(top,#fdfdfd,#ddd);
	background-image: -o-linear-gradient(top,#fdfdfd,#ddd);
	background-image: linear-gradient(top bottom,#fdfdfd,#ddd);
	background-repeat: repeat-x;
}
.mwt-table tbody tr:hover {background-color:#f2f2f2; cursor:pointer;}

/* ---------------- Panel ------------------ */
.mwt-panel { width:100%; border:solid 1px #ccc; }
.mwt-panel > .header {
	height:30px; line-height:30px; border-bottom:solid 1px #ccc; background-color:#efefef; text-align:left;
	padding: 0 10px;
}
.mwt-panel > .body {padding:10px; text-align:left;}

.mwt-panel-primary {border-color:#428bca;}
.mwt-panel-primary > .header {border-color:#428bca; background-color: #428bca; color:#FFFFFF}

.mwt-panel-success {border-color:#d6e9c6;}
.mwt-panel-success > .header {border-color:#d6e9c6; background-color: #dff0d8; color:#3c763d}

.mwt-panel-info {border-color:#bce8f1;}
.mwt-panel-info > .header {border-color:#bce8f1; background-color: #d9edf7; color:#31708f}

.mwt-panel-warning {border-color:#faebcc;}
.mwt-panel-warning > .header {border-color:#faebcc; background-color: #fcf8e3; color:#8a6d3b}

.mwt-panel-danger {border-color:#ebccd1;}
.mwt-panel-danger > .header {border-color:#ebccd1; background-color: #f2dede; color:#a94442}

.mwt-panel-black {border-color:#333;}
.mwt-panel-black > .header {border-color:#333; background-color: #616161; color:#fff}

/* ---------------- tree ------------------ */
.mwt-tree {margin:0;padding:0;}
.mwt-tree li{list-style-type:none;margin:0;padding:0;line-height:20px;}

.mwt-tree a.tree-node{cursor:pointer;font-size:13px;color:black;text-decoration:none;}
.mwt-tree a.tree-node:hover,.mwt-tree a.active{color:red;}
/*
.mwt-tree li.folder{background-image:url(imgs/tree/folder.gif) ;}
.mwt-tree li.leaf{background-image:url(imgs/tree/leaf.gif);}
.mwt-tree li.folder-open{background-image:url(imgs/tree/folder-open.gif);}
*/

i.icon{background-repeat:no-repeat;padding-left:18px;}
i.folder{background-image:url(imgs/tree/folder.gif);cursor:pointer;}
i.folder-open{background-image:url(imgs/tree/folder-open.gif);cursor:pointer;}
i.leaf{background-image:url(imgs/tree/leaf.gif);background-position: 0;}

/* ---------------- bar -------------------- */
.mwt-bar {background:#f9f9f9;padding:2px 0;}
.mwt-bar table {width:100%;cellspacing:0px;cellpadding:0px;padding:0;margin:0;}
.mwt-bar hr {margin:0;padding:0;border-bottom:solid 1px #fff;border-top:solid 1px #ccc;border-left-width:0;border-right-width:0;}
.mwt-bar td {padding:6px 0 6px 8px;}
.mwt-bar td:last-child{padding:6px 8px;}
.mwt-bar label {font-size:13px;display:block;white-space:nowrap;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	font-smoothing:antialiased;
}
.mwt-bar button {
    display: inline-block;
    font-weight: normal;
    font-size: 12px;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	/*border: 1px solid transparent;*/
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
    outline:0;
    text-decoration:none;
    padding:3px 10px;
    border-radius:2px;
}
.mwt-bar button:active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
	box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}
.mwt-bar .mwt-search {border-width:1px;height:26px;border-radius:2px;}
.mwt-bar .mwt-search input[type='text'] {height:26px;line-height:26px;}
.mwt-bar .mwt-search button {border-radius:0;height:26px;line-height:26px;}

/* --------------------- toolbar --------------------- */
.mwt-toolbar {background:#efefef;padding:2px;}
.mwt-toolbar .row {width:100%;padding:0;margin:0;}
.mwt-toolbar hr {margin:0;padding:0;border-bottom:solid 1px #fff;border-top:solid 1px #ccc;border-left-width:0;border-right-width:0;}
.mwt-toolbar ul {display:inline-block;margin:0;padding:0;}
.mwt-toolbar ul li {list-style-type:none;margin:0;padding:0;float:left;}
.mwt-toolbar ul li.sep {border-left:solid 1px #aaa;border-right:solid 1px #fff;}
.mwt-toolbar ul li.sep:after{content:'\10'}
.mwt-toolbar ul.right{float:right;}

/* -------------- nav --------------- */
.mwt-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}
.mwt-nav:before, .mwt-nav:after {
    content: " ";
    display: table;
    clear: both;
}
.mwt-nav>li>a {
    font-size:14px;
    padding: .6em 1em;
    text-decoration:none;
    color: #09C;
    text-align: center;
    border-radius:4px;
}
.mwt-nav>li>a:hover {
    background-color: #eee;
}
.mwt-nav>li, .mwt-nav>li>a {
    display: block;
    position: relative;
}
.mwt-nav>li.mwt-active>a, .mwt-nav>li.mwt-active>a:focus, .mwt-nav>li.mwt-active>a:hover {
    color: #fff;
    background-color: #0e90d2;
    cursor: default;
}


.mwt-nav-tabs {
    width: 100%;
    border-bottom: 1px solid #ddd;
}
.mwt-nav-tabs>li {
    list-style: none;
    float: left;
    margin-bottom: -1px;
    margin-right: 5px;
}
.mwt-nav-tabs>li>a {
    border-radius:0;
}
.mwt-nav-tabs>li.mwt-active>a, .mwt-nav-tabs>li.mwt-active>a:focus, .mwt-nav-tabs>li.mwt-active>a:hover {
    color: #555;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}

.mwt-nav-pills {
    width: 100%;
}
.mwt-nav-pills>li {
    list-style: none;
    float: left;
    margin-right: 5px;
}
.mwt-nav-pills>li>a {
    border-radius: 4px;
}
.mwt-nav-pills>li.mwt-active>a, .mwt-nav-pills>li.mwt-active>a:focus, .mwt-nav-pills>li.mwt-active>a:hover {
    color: #fff;
    background-color: #0e90d2;
    cursor: default;
}


.mwt-nav-justify {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;    
}
.mwt-nav-justify>li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
