/* 消息通知模块样式 */
#mwt-notify-container {
    z-index: 10000;
	position: fixed;
	top: 50px;
	left:0;
	right:0;
	text-align:center;
}
.mwt-notify {
	display:inline-block;
	padding:10px 20px;
	margin:3px 0;
	border-radius:4px;
	text-align: center;
	-webkit-animation-duration: .4s; 
	animation-duration: .4s; 
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	font-size: 13px;
	background:rgba(0,0,0,0.5);
    color:#fff;
	/*-webkit-box-shadow: 2px 2px #aaa;
    -moz-box-shadow: 2px 2px #aaa;   
	box-shadow: 2px 2px #aaa;*/
}
.mwt-notify i {
    float: left;
	padding:0;
	margin:1px 8px 1px 0;
	font-size:17px;
}
/* 消息框主题 */
.mwt-notify.info {border:solid 1px #31708f;background:rgba(217,237,247,0.2);color:#31708f;}
.mwt-notify.warning{border:solid 1px #AF6D00;background:rgba(255,224,188,0.2);color:#AF6D00;}
.mwt-notify.danger{border:solid 1px #a94442;background:rgba(242,222,222,0.2);color:#a94442;}
.mwt-notify.success{border:solid 1px #3c763d;background:rgba(223,240,216,0.2);color:#3c763d;}
